<header>
    <nav>
        <div class="grid grid-cols-2 page-width mx-auto items-center">
            <div>
                🐑 {{ site.title }}
            </div>
            <div class="text-right text-gray-400 text-sm">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSd8couVzzgqktuENNervPG9QMG8c3aK7oO54YwBHUiWKxPmvA/viewform?usp=sf_link">[Report Problem]</a>
            </div>
        </div>
    </nav>
</header>