<header>
    <nav>
        <div class="grid grid-cols-2 page-width mx-auto items-center dark:text-gray-300">
            <div>
                <a href="/">🐑 {{ site.title }}</a>
            </div>
            <div class="text-right text-gray-600 dark:text-inherit text-sm">
                <a href="/contact">Feedback</a>
            </div>
        </div>
    </nav>
</header>
