<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  {% include "head.njk" %}

  <body>
    {% include 'nav.njk' %}

    <main class="container w-1/2">
      {{ content | safe }}
    </main>
  </body>

  {% include "footer.njk" %}

</html>