<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  {% include "head.njk" %}

  <body>
    {% include 'nav.njk' %}

    <hr class="page-width mx-auto">

    <main class="w-full page-width mx-auto">
      <article>
          {{ content | safe }}
      </article>
    </main>
  </body>
</html>