---
layout: base.njk
---

<main class="container w-full narrow-width mx-auto px-4">
    <article class="mx-auto max-w-xl mt-16 font-sans">

        <p class="">If you found a problem, such as an incorrect boss drop, please let us know!</p>
        <br>
        <p>Reporting problems helps us improve our pages and is greatly appreciated.</p>

        {% include "contact-form.njk" %}
    </article>
</main>