---
title: d2r
layout: "base.njk"
---

<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="d2r.js"></script>
</head>

<div class="flex h-full justify-center items-center md:mt-16">
    <div class="flex flex-wrap">
        <div class="text-4xl mx-auto">
            What boss drops
        </div>
        <div class="text-2xl md:text-4xl mx-auto flex-grow mx-8 my-4 md:my-0 inline-flex">
            <form autocomplete="off" id="searchform" action="" onsubmit="return search_onsubmit()">
                <input type="text" class="text-center w-full h-12" name="q" id="search" onKeyUp="showSearchResults(this.value)" />
                <div class="flex text-xl rounded-xl justify-center bg-gray-50" id="searchresult"></div>
            </form>
        </div>
    </div>
</div>

<div id="results" class="border mt-12 flex text-xl justify-center" />
