---
title: d2r
layout: "base.njk"
---

<div class="page-width">
    <div class="flex h-screen">
    <div class="m-auto flex">
        <div class="d2">What boss drops</div>
        <input class="d2 ml-4 mr-2 max-w-sm text-center"></input>
        <div class="d2">?</div>
        </div>
    </div>
</div>
