---
title: d2r
layout: "base.njk"
---

<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="d2r.js"></script>
</head>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-2 lg:gap-6 mt-8 lg:mt-16 mx-4 lg:mx-auto">
    <div class="text-center lg:text-right text-3xl lg:text-4xl mt-2">What boss drops</div>
    <div>
        <form autocomplete="off" id="searchform" action="" onsubmit="return search_onsubmit()">
            <label>
                Item search
                <input type="text" class="text-center text-2xl text-yellow-600 font-light w-full h-16" name="q" id="search" onKeyUp="showSearchResults(this.value)" onFocus="searchFocus(this.value)" autofocus />
            </label>
        </form>
        <div id="search_results" class="flex text-2xl w-full rounded-xl text-center lg:text-left justify-center bg-gray-50"></div>
    </div>
</div>

<div id="boss_results">
    <div class="boss_name header"></div> <!-- Placeholder so it doesn't get stripped out -->
</div>

<div class="text-sm text-center text-gray-300 mt-12">only includes regularly farmed bosses</div>